

.containerLight {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.containerDark {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #2C343E;
    border-radius: 10px;
}

.headlineMainLight {
    margin-bottom: 65px;
    font-family: 'Fraunces', serif;
    color: #83888F;
    font-size: 30px;   
}

.headlineMainDark{
    margin-bottom: 65px;
    font-family: 'Fraunces', serif;
    color: #83888F;
    font-size: 30px;   
    
}

@media (max-width: 767px) {
    .headlineMainLight {
        text-align:center;
        margin-top: 800px
    }

    .headlineMainDark {
        text-align:center;
        margin-top: 100px;
    }
}

@media (min-width: 768px) {
    .headlineMainLight {
        text-align: left;
        margin-top: 360px;
        margin-left:39px;
        font-size: 25px;
    }

    .headlineMainDark {
        text-align: left;
        margin-top: 360px;
        margin-left:39px;
        font-size: 25px;
    }

    .containerLight {
        justify-content:flex-start;
        margin-left: 40px;
    }
    .containerDark {
        justify-content:flex-start;
        margin-left: 0px;
    }
}

@media (min-width: 1025px) {
    .headlineMainLight {
        margin-top:200px;
        margin-left:5%;
       
    }

    .headlineMainDark {
        margin-top:200px;
        margin-left:5%;
       
    }
    
    .containerLight {
        margin-left: 5%;
    }

    .containerDark {
        margin-left: 5%;
        margin-right:5%;
    }
}

