.container {
    position: relative;
    text-align:center;
}

ul {
    list-style: none;
}

.headline {
    font-family: 'Fraunces', serif;
    margin-top: 60px;
    margin-bottom:35px;
    background: -webkit-linear-gradient(rgb(71, 71, 71) 1%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 6rem;
}

.subhead {
    font-family: 'Fraunces', serif;
    color: #333D4B;
}

.container ul {
    padding-left:0;
}

.txt {
    color: #333D4B;
}

@media (min-width: 1025px) {
    .itemContainer {
        display:flex;
        flex-direction:row;
        max-width: 85vw;
    }

    .pic {
        float:left;
        width: 20vw;
        padding-left:35px;
    }
    .subhead {
        padding-top: 4%;
        font-size: 25px;
    }
    .txt {
        font-size: 14px;
        width: 90%;
        margin: 15px auto 55px auto
    }

    .headline {
        margin-bottom: 10%;
    }
    
    
}

@media (min-width: 768px) and (max-width: 1025px) {
    .pic {
        float:left;
        width: 40vw;
    }
    .listContainer {
        height: 300px;
        width:85vw;
        text-align:left;
        margin-top: 3%;
    }

    .headline {
        font-size: 6rem;
        margin-top: 12%;
        margin-bottom: 12%;
    }

    .subhead {
        padding-top: 4%;
    }
    
    
}

@media (max-width: 767px) {
    .pic {
        width:65vw;
        margin-right: -15px;
    }
    .headline {
        font-size: 3.2rem;
    }

    .subhead {
        font-size: 32px
    }
    
    .txt {
        font-size: 19px;
        width: 90%;
        margin: 15px auto 55px auto
    }
}


@media (max-width: 320px) {
    .headline {
        font-size: 2.3rem;
    }

    

}

