.menubar {
    display:flex;
    flex-direction: row;
    margin-top:7%;
    font-family: 'Barlow', sans-serif;
    font-weight:bold;
    width:100%;
}


.brand {
    flex-grow: 3;
    margin-left: 4%;
}



@media (max-width:767px) {
    .linkItem {
        font-size:13px;
        margin-left:3%;
    }
    .firstItem {
        text-align:none;
    }

    .brand {
        flex-grow: 3;
        margin-left: 4%;
    }

}

@media (max-width: 1024px) {
    .logo {
        margin-bottom: 3px;
    }
    .linkItem {
        margin-left:none;
        font-size:13px;
    }
    .firstItem {
        text-align:none;
    }

    .brand {
        flex-grow: 3;
        margin-left: 4%;
    }
    
}

@media (min-width: 1025px) {
    .logo {
        margin-bottom: 3px;
    }
    .linkItem {
        font-size:17px; 
        white-space:nowrap;  
    }

    .firstItem {
        text-align:center;
    }
    
     
    .brand {
        flex-grow: 10;
        margin-left: 4%;
    }
}



