.menubar {
    display:flex;
    flex-direction: row;
    margin-top:7%;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    font-weight:bold;
}

.brand {
    flex-grow: 3;
    margin-left: 4%;
}


@media (max-width:767px) {
    .linkItem {
        font-size:13px;
        margin-left:3%;
    }

}



@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        margin-bottom: 3px;
    }
    .linkItem {
        margin-left:none;
        font-size:13px;
    }
}

@media (min-width: 1025px) {
    .logo {
        margin-bottom: 3px;
    }
    .linkItem {
        font-size:25px;
        width: 190px;  
        white-space:nowrap;  
    }

    .firstItem {
        text-align:center;
    }
    
    .menuItemContainer {
        flex-grow:0;
        flex-basis: none;
    }

    
    .brand {
        flex-grow: 10;
        margin-left: 4%;
    }
}



