.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    background-color: #2C343E;
    position:absolute;
    width:90vw;
    height: 300px;
    
}

.link {
    color: #83888F;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.link:active {
    color:white;
}

.logo {
    margin-bottom: 30px;
}

.social {
    margin: 15px 10px;
}

@media (min-width: 1025px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 150px;
        justify-content: flex-start;
        padding-left: 7%;
    }

    .nav {
        margin-right: 29%;   
    }

    .socialContainer {
        margin-bottom: 14px
    }

    .logo {
        left: 0px;
        margin-right: 5%;
        margin-top:17px;
    }
    
}


@media (min-width: 1025px) and (max-width: 1300px) {
    .nav {
        margin-right: 12%;
    }

}