

.pictureContainer {
    position:relative; 
    color: white;
    width:90%;
}

.picture {
    border-radius: 25px;
    width:100%;
}

.planButton {
    background-color: #0E8784;
}

.headlineLg {
    font-family: 'Fraunces', serif;  
}

.headlineSm {
    font-family: 'Fraunces', serif;  
}

.paragraph {
    font-family: 'Barlow', sans-serif;
    color:#FEFCF7;
    text-justify:inter-word;
    opacity: 0.8;
}

.text {
    position:absolute;
    
}

@media (min-width: 1025px) {
    .headlineLg {
        font-size:48px;
        margin-left: 5%;
        text-align:left;
        text-justify:inter-word;
        width:39%;
        
    }

    .headlineSm {
        font-size:35px;
        margin-left: 5%;
        text-align:left;
        text-justify:inter-word;
        width:39%;
        
    }
    
    .paragraph {
        font-size: 1.1rem;
        text-align:left;
        margin-top:4%;
        margin-left:5%;
        width:38%;
    }

    .text {
        top:13%;
        
    }
    .pictureContainer {
        text-align:left;
    }

    .planButton {
        width: 290px;
        height: 80px;
        font-family: 'Fraunces', serif;
        margin-left: 5%;
        margin-top: 2%;
        font-size: 1.4rem;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    .headlineLg {
        font-size: 48px;
        margin-left: 5%;
        text-align:left;
        text-justify:inter-word;
        width:60%;
        
    }

    .headlineSm {
        font-size: 35px;
        margin-left: 5%;
        text-align:left;
        text-justify:inter-word;
        width:60%;
        
    }
    
    .paragraph {
        font-size: 1.1rem;
        text-align:left;
        margin-top:4%;
        margin-left:5%;
        width:53%;
    
    }
    .text {
        top:13%;
        
    }
    .pictureContainer {
        text-align:left;
    }

    .planButton {
        width: 217px;
        height: 56px;
        font-size: 1.1rem;
        margin-left: 5%;
        margin-top: 2%;
    }

}

@media (min-width: 356px) and (max-width: 767px) {
    .headlineLg {
        font-size: 2.9rem;
        margin-left: 2%;
        margin-right: 2%;
        
    }

    .headlineSm {
        font-size: 2.2rem;
        margin-left: 2%;
        margin-right: 2%;
        
    }
    
    .paragraph {
        font-size: 1.1rem;
        text-align:center;
        margin-top:8%;
        margin-left:5%;
        margin-right:5%;
    
    }
    .text {
        top:20%;
        
    }
    .pictureContainer {
        text-align:center;
    }
    
    .planButton {
        width: 217px;
        height: 56px;
        font-size: 1.1rem;
    }

}

@media (min-width: 289px) and (max-width: 355px) {
    .headlineLg {
        font-size: 2.5rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 12%;
        
    }

    .headlineSm {
        font-size: 1.9rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 12%;
        
    }
    
    .paragraph {
        font-size: 0.9rem;
        text-align:center;
        margin-top:8%;
        margin-left:5%;
        margin-right:5%;
    }

    .text {
        top:5%;
        
    }
    .pictureContainer {
        text-align:center;
    }

    .planButton {
        width: 200px;
        height: 50px;
        font-size: 1.1rem;
    }
}

@media (max-width: 288px) { 

    .headlineLg {
        font-size: 1.5rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -8%;
        
    }

    .headlineSm {
        font-size: 0.9rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -8%;
        
    }
    
    .paragraph {
        font-size: 0.7rem;
        text-align:center;
        margin-top:8%;
        margin-left:5%;
        margin-right:5%;    
    }

    .text {
        top:20%;
        
    }
    .pictureContainer {
        text-align:center;
    }
    
    .planButton {
        width: 150px;
        height: 35px;
        font-size: 0.8rem;
    }

}


@media (max-width: 204px) { 
    .headlineLg {
        font-size: 1rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -15%;
        
    }

    .headlineSm {
        font-size: 0.5rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -15%;
        
    }
    .planButton {
        width: 40%;
        height: 10%;
        font-size: 0.4rem;
    }
    .paragraph {
        font-size: 0.4rem;
        text-align:center;
        margin-top:8%;
        margin-left:5%;
        margin-right:5%;    
    }
}